.env
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
migrations/
media/

# MongoDB database files
*.lock
*.wt
*.turtle
mongod.lock
storage.bson
journal/
journal-prealloc/
diagnostic.data/
*.mmap
*.mmapv1
*.sock

# Frontend files
node_modules/
/static/
/public/
/frontend-build/

# Virtual environment
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# PyCharm
.idea/
*.iws
*.iml
*.ipr

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*.swp
*~

