<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>פרויקטים פעילים</title>
</head>
<body>
    <h1>פרויקטים פעילים</h1>

    <ul>
        {% for project in active_projects %}
            <li style="border: 1px solid black; margin: 10px; padding: 10px;">
                <h2>{{ project.name }}</h2>
                <p>Number of Tasks: {{ project.tasks.count }}</p>
                <p>Number of Workers: {{ project.members.count }}</p>
                <button style="font-size: 15px;">
                    <a href="{% url 'specific_project_manager' project.id %}">Project Details</a>
                </button>
            </li>
        {% endfor %}
    </ul>

    <button id="backToHome" style="font-size: 15px;">חזור למסך הבית</button>

    <script>
        document.getElementById("backToHome").addEventListener("click", function() {
            location.href = "{% url 'manager_home_screen' %}";
        });
    </script>
</body>
</html>