<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>עריכת פרויקט</title>
</head>
<body>
    <h1>עריכת פרויקט</h1>

    <form method="post" action="{% url 'change_project_manager' project.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="שנה פרויקט">
    </form>

    <button id="goBack" style="font-size: 15px;">חזור</button>

    <script>
        document.getElementById("goBack").addEventListener("click", function() {
            window.history.back();
        });
    </script>
</body>
</html>