<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>מסך הבית של המנהל</title>
</head>
<body>
    <div style="text-align: center;">
        <button style="font-size: 30px;" onclick="location.href='{% url 'active_projects_manager' %}'">פרויקטים פעילים</button> <!-- Active Projects in Hebrew -->
        <br>
        <button style="font-size: 20px;" onclick="location.href='{% url 'workers_list_manager' %}'">העובדים שלי</button> <!-- My Workers in Hebrew -->
        <!-- <br>-->
        <!--<button style="font-size: 20px;" onclick="location.href='{% url 'my_requests' %}'">בקשות</button>-->
        <!--<br>-->
        <!--<button style="font-size: 20px;" onclick="location.href='{% url 'projects_history' %}'">היסטוריית פרויקטים</button> -->
        <br>
        <button style="font-size: 15px; float: left;" onclick="location.href='{% url 'logout' %}'">התנתק</button> <!-- Sign Out in Hebrew -->
    </div>
</body>
</html>