<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>התחברות מנהל</title> <!-- Manager Login in Hebrew -->
</head>
<body>
    <h2>התחברות מנהל</h2> <!-- Manager Login in Hebrew -->
    <form method="post">
        {% csrf_token %}
        <label for="username">שם משתמש:</label><br> <!-- Username in Hebrew -->
        <input type="text" id="username" name="username"><br>
        <label for="password">סיסמא:</label><br> <!-- Password in Hebrew -->
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="התחבר"> <!-- Login in Hebrew -->
        <input type="button" value="חזור" onclick="window.history.back()">
        <button type="button" onclick="location.href='{% url 'manager_forgot_password' %}'">שכחתי סיסמא</button> <!-- Forgot Password in Hebrew -->
    </form>
</body>
</html>