<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>New Request Submission</title>
</head>
<body>
    <h1>הגשת בקשה חדשה</h1>
    <form method="post" action="{% url 'new_request_submission' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="שלח">
        <button id="discardButton" type="button">בטל</button>
    </form>

    <script>
        document.getElementById("discardButton").addEventListener("click", function() {
            window.history.back();
        });
    </script>
</body>
</html>