<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>New Request Submission</title>
    <script>
        window.onload = function() {
            var typeSelect = document.getElementById("type");
            typeSelect.addEventListener("change", function() {
                var selectedType = typeSelect.value;
                var headerInput = document.getElementById("header");
                if (selectedType != 'בקשת שיוך') {
                    headerInput.value = 'בקשת שיוך';
                } else {
                    headerInput.value = '';
                }
            });
        };
    </script>
</head>
<body>
    <h1>הגשת בקשה חדשה</h1>
    <!-- TODO: check what's not working in logic and fix it !-->
    <form method="post" action="{% url 'new_request_submission' %}">
        {% csrf_token %}
        {% if not user.personal_data.worker.isnull %}
            <label for="type">סוג הבקשה:</label>
            <select id="type" name="type">
                {% for project in user.personal_data.worker.projects.all %}
                    <option value="{{ project.name }}">{{ project.name }}</option>
                {% endfor %}
                <option value="בקשת שיוך">בקשת שיוך</option>
            </select>
        {% else %}
            <input id="type" name="type" value="בקשת שיוך">
            <p>סוג הבקשה: בקשת שיוך</p>
        {% endif %}
        <br>
        {% if request.POST.type != 'בקשת שיוך' %}
            <label for="request_name">כותרת הבקשה:</label>
            <input type="text" id="request_name" name="header" required>
            <br>
            <label for="description">תיאור:</label>
            <textarea id="description" name="description" required></textarea>
        {% else %}
            <label for="username">שם משתמש המנהל:</label>
            <input type="text" id="username" name="username" required>
        {% endif %}
        <br>
        <input type="submit" value="שלח">
        <button id="discardButton" type="button">בטל</button>
    </form>

    <script>
        document.getElementById("discardButton").addEventListener("click", function() {
            window.history.back();
        });
    </script>
</body>
</html>