<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>היסטוריית פרויקטים</title>
</head>
<body>
    <h1>היסטוריית פרויקטים</h1>

    <ul>
        {% for project_data in projects_data %}
            <li style="border: 1px solid black; margin: 10px; padding: 10px;">
                <h2>{{ project_data.project.name }}</h2>
                <p>Number of Tasks: {{ project_data.num_tasks }}</p>
                <p>Number of Workers: {{ project_data.num_workers }}</p>
                <button style="font-size: 15px;">
                    <a href="{% url 'specific_project_manager' project_data.project.id %}">Project Details</a>
                </button>
            </li>
        {% endfor %}
    </ul>

    <button id="backToHome" style="font-size: 15px;">חזור למסך הבית</button> <!-- Back to Home Screen in Hebrew -->

    <script>
        document.getElementById("backToHome").addEventListener("click", function() {
            location.href = "{% url 'manager_home_screen' %}";
        });
    </script>
</body>
</html>