<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>בקשות</title>
</head>
<body>
   
    <h1>בקשות אליי</h1>

    <ul>
        {% for request in requests_to_me%}
            <p>{{ request.header }} - {{ request.type }}</p>
            <button id="goto_request{{request.id}}" style="font-size: 15px;">...עוד</button>
            {% if request.type != "ASOC" %}
                <script>
                    document.getElementById("goto_request{{request.id}}").addEventListener("click", function() {
                        location.href = "{% url 'specific_request_view' request.id %}";
                    });
                </script>
            {% else %}
                <script>
                    document.getElementById("goto_request{{request.id}}").addEventListener("click", function() {
                        location.href = "{% url 'view_request_association' request.id %}";
                    });
                </script>
            {% endif %}
        {% endfor %}
    </ul>
    <h1>בקשות שלי</h1>
    <ul>
        {% for request in requests_from_me%}
            <p>
                    {{ request.header }} - {{ request.type }}
            </p>
            <button id="goto_my_request{{request.id}}" style="font-size: 15px;">...עוד</button>
            {% if request.type == "ASOC" %}
            <script>
                document.getElementById("goto_my_request{{request.id}}").addEventListener("click", function() {
                    location.href = "{% url 'view_request_association' request.id %}";
                });
            </script>
            {% else %}
            <script>
                document.getElementById("goto_my_request{{request.id}}").addEventListener("click", function() {
                    location.href = "{% url 'specific_request_view' request.id %}";
                });
            </script>
            {% endif %}
        {% endfor %}
    </ul>



    <button id="backToPrev" style="font-size: 15px;">חזור לבקשות</button>
    <script>
        document.getElementById("backToPrev").addEventListener("click", function() {
            window.history.back();
        });
    </script>

</body>
</html>
