<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>פרטי הפרוייקט</title>
</head>
<body>
    <h1>פרטי הפרוייקט</h1>

    <h2>{{ project.title }}</h2>
    <p>{{ project.description }}</p>
    <p>תאריך סיום: {{ project.due_date }}</p>

    <br>
    <button id="project_tasks" style="font-size: 30px;">משימות הפרוייקט</button>
    <br>
    <br>
    <button style="font-size: 15px;" onclick="location.href='{% url 'specific_project_workers' project.id %}'">ראה עובדים</button>
    <button id="changeProject" style="font-size: 15px;">ערוך פרויקט</button>

    <script>
        document.getElementById("changeProject").addEventListener("click", function() {
            window.open("{% url 'change_project_manager' project.id %}", "_blank");
        });
    </script>

    <script>
        document.getElementById("project_tasks").addEventListener("click", function() {
            window.open("{% url 'tasks_specific_project_manager' project.id %}", "_blank");
        });
    </script>
</body>
</html>