<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>עובדים בפרויקט</title>
</head>
<body>
    <h1>עובדים בפרויקט - {{ project.name }}</h1>

    {% for worker in project.members.all %}
    <div style="border: 1px solid black; margin: 10px; padding: 10px;">
    <div>
        <p>שם משתמש: {{ worker.personal_data.user.username }}</p>
        <p>שם פרטי: {{ worker.personal_data.user.first_name }}</p>
        <p>שם משפחה: {{ worker.personal_data.user.last_name }}</p>
        <p>אימייל: {{ worker.personal_data.user.email }}</p>
    </div>
    </div>
    {% endfor %}

    <button style="font-size: 15px;" onclick="location.href='{% url 'specific_project_manager' project.id %}'">חזור</button>
    <button style="font-size: 15px;" onclick="location.href='{% url 'edit_specific_project_workers' project.id %}'">ערוך</button>
</body>
</html>