<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>Task Division</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Task Division</h1>

    <label for="numSubtasks">Choose the number of subtasks:</label>
    <select id="numSubtasks" name="numSubtasks">
        {% for i in "123456789"|make_list %}
            <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>


    <button id="nextButton" disabled>Next</button>
    <button id="discardButton">Discard</button>

    <script>
        $("#nextButton").click(function() {
            var numSubtasks = $("#numSubtasks").val();
            window.location.href = "{% url 'create_subtasks' task.id %}?numSubtasks=" + numSubtasks;
        });
        $("#discardButton").click(function() {
            window.history.back();
        });
    </script>
</body>
</html>