<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>פרטי משימה</title>
</head>
<body>
    <h1>פרטי משימה - {{ task.title }}</h1>

    <h2>{{ task.title }}</h2>
    <p>{{ task.description }}</p>
    <p>תאריך סיום: {{ task.due_date }}</p>
    <p>מצב: {{ task.status }}</p>
    <p>משימה פעילה: {{ task.is_active }}</p>
    <p>עובד שהוקצה למשימה: {{ task.assigned_to.personal_data.user.username }}</p>

    {% if task.due_date > today_date %}
        <p style="color: red;">שים לב - המועד הסיום כבר עבר</p>
    {% endif %}

    <button style="font-size: 15px;" onclick="location.href='{% url 'task_editing_screen_manager' task.id %}'">ערוך משימה</button>
    <button style="font-size: 15px;" onclick="location.href='{% url 'tasks_specific_project_manager' project_id %}'">חזור לרשימת המשימות</button>
</body>
</html>