<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>בקשות</title>
</head>
<body>
    <button id="new request" style="font-size: 30px;">צור בקשה חדשה</button>

    <script>
        document.getElementById("new request").addEventListener("click", function() {
            location.href = "{% url 'new_request_submission' %}";
        });
    </script>
    <h1>בקשות אליי</h1>

    <ul>
        {% for request in requests_to_me%}
            <p>{{ request.header }} - {{ request.type }}</p>
            <button id="goto_request{{request.id}}" style="font-size: 15px;">...עוד</button>

    <script>
        document.getElementById("goto_request{{request.id}}").addEventListener("click", function() {
            location.href = "{% url 'specific_request_view' request.id %}";
        });
    </script>
        {% endfor %}
    </ul>
    <h1>בקשות שלי</h1>
    <ul>
        {% for request in requests_from_me%}
            <p>
                    {{ request.header }} - {{ request.type }}
            </p>
            <button id="goto_my_request{{request.id}}" style="font-size: 15px;">...עוד</button>

    <script>
        document.getElementById("goto_request{{request.id}}").addEventListener("click", function() {
            location.href = "{% url 'specific_request_view' request.id %}";
        });
    </script>
        {% endfor %}
    </ul>


    <button id="backToHome" style="font-size: 15px;">חזור למסך הבית</button>
{{%if is_manager%}}
    <script>
        document.getElementById("backToHome").addEventListener("click", function() {
            location.href = "{% url 'manager_home_screen' %}";
        });

    </script>
    {{%else%}}
    <script>
        document.getElementById("backToHome").addEventListener("click", function() {
            location.href = "{% url 'user_home_screen' %}";
        });

    </script>
    {{%endif%}}
</body>
</html>
