<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>שכחתי סיסמא</title> <!-- Forgot Password in Hebrew -->
</head>
<body>
    <h2>שכחתי סיסמא</h2> <!-- Forgot Password in Hebrew -->
    <form method="post">
        {% csrf_token %}
        <label for="email">אימייל:</label><br> <!-- Email in Hebrew -->
        <input type="email" id="email" name="email"><br>
        <input type="submit" value="שלח"> <!-- Send in Hebrew -->
    </form>
    <button onclick="location.href='{% url 'open_screen' %}'">חזור</button> <!-- Back in Hebrew -->
</body>
</html>