<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>מסך הבית של המשתמש</title> <!-- User Home Screen in Hebrew -->
</head>
<body>
    <div style="text-align: center;">
        <button style="font-size: 30px;" onclick="location.href='{% url 'active_tasks_user' %}'">משימות פעילות</button> <!-- Active Tasks in Hebrew -->
        <button style="font-size: 30px;" onclick="location.href='{% url 'upcoming_deadlines' %}'">מועדי סיום קרובים</button> <!-- Close Deadlines in Hebrew -->
        <br>
        <button style="font-size: 20px;" onclick="location.href='{% url 'requests_page' %}'">בקשות</button> <!-- Requests in Hebrew -->
        <br>
        <button style="font-size: 20px;" onclick="location.href='{% url 'task_history' %}'">היסטוריית משימות</button> <!-- Tasks History in Hebrew -->
        <br>
        <button style="font-size: 15px; float: left;" onclick="location.href='{% url 'logout' %}'">התנתק</button> <!-- Sign Out in Hebrew -->
    </div>
</body>
</html>