<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>התחברות משתמש</title>
</head>
<body>
    <h2>התחברות משתמש</h2>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="username">שם משתמש:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">סיסמא:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="התחבר">
        <input type="button" value="חזור" onclick="window.history.back()">
        <button type="button" onclick="location.href='{% url 'user_forgot_password' %}'">שכחתי סיסמא</button> <!-- Forgot Password in Hebrew -->
    </form>
</body>
</html>