<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>פרטי בקשה</title>
</head>
<body>

    <h1>{{ request_to_view.header}}</h1>

    <h3>פרטי הבקשה</h3>
    <p>שולח הבקשה: {{ request_to_view.last_sender.user.username }} - {{ request_to_view.last_sender.user.first_name }} {{ request_to_view.last_sender.user.last_name }}</p>
    <p>תאריך הבקשה: {{ request_to_view.contents.updated_at }}</p>

    {% if request_to_view.is_active and user_id != request_to_view.last_sender.id %}
    <h3>Accept or Reject Request</h3>
        <form method="post" >
            {% csrf_token %}
            <input type="submit" name="accept" value="קבל">
            <input type="submit" name="reject" value="דחה">
        </form>
    {% endif %}
    <button style="font-size: 15px;" onclick="location.href='{% url 'requests_page' %}'">חזור לרשימת הבקשות</button>
</body>
</html>